[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyterlab = "==1.2.3"
import-ipynb = "==0.1.3"
ipython = "==7.16.3"

[packages]
pandas = "==0.25.3"
numpy = "==1.17.4"
spacy = "==2.2.2"
altair = "==3.2.0"
scikit-learn = "==0.21.3"
lime = "==0.1.1.36"
h2o = "==3.26.0.10"
pyod = "==0.7.5"
pandas-profiling = "==2.3.0"
xlrd = "==1.2.0"
flask = "==1.1.1"
yellowbrick = "==1.0.1"
statsmodels = "==0.10.2"
matplotlib = "==3.1.2"

[requires]
python_version = "3.7"
